body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, arial, sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-head, .right-head {
    padding: 10px 300px;
}
.left-head {
    font-size: 24px;
    color: #F9FAF8;
}
.right-head, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}


.main-one {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 300px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}
.one-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
    gap: 5px;
}
.sign-up {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 15px;
}
.one-right {
    height: 200px;
    width: 400px;
    border: 1px solid grey;
    background-color: lightgray;
    text-align: center;
}


h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}
.main-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 300px 100px;
    gap: 50px;
}
.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.box {
    border: 6px solid rgb(78, 189, 240);
    border-radius: 15px;
    height: 200px;
    width: 200px;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    text-align: center;
    gap: 10px
}
.info-text {
    font-size: 20px;
}


.main-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 200px 400px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote-author {
    font-size: 30px;
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 50px;
}

.main-four {
    display: flex;
    background-color: #3882F6;
    margin: 100px 300px;
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: space-between;
}
h3 {
    font-size: 35px;
    color: #E5E7EB;
    margin: 0;
}
.call {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sign-up-two {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid white;
}

.footer {
    display: flex;
    background-color: rgb(68, 68, 68);
    color: rgb(199, 199, 199);
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

.cp {
    font-size: 24px;
}